div#workout(ng-controller="MainController as ctrl")
    md-button(ng-click="ctrl.toggleWorkout()" aria-label="close" class="fixed fixed--right-top" ng-bind="'new-workout.open'|translate")

    md-sidenav.md-sidenav-right(md-component-id="right" md-disable-backdrop md-is-open="true" md-whiteframe="4")
        md-toolbar(layout="row")
            input(
            ng-model="ctrl.$rootScope.currentWorkout.name"
            placeholder="{{'new-workout.header'|translate}}"
            flex=80 layout="column")
            div(flex="20" layout-align="center center" layout="column")
                i.material-icons(ng-click="ctrl.toggleWorkout()") close
        md-content
            md-datepicker(
            ng-model="ctrl.workoutDate"
            md-placeholder="{{'new-workout.datepicker.placeholder'|translate}}"
            aria-label=""
            flex="100")
            ul(
            dnd-list="ctrl.$rootScope.currentWorkout.exerciseList"
            )
                li.md-table-content-row(
                ng-repeat="exercise in ctrl.$rootScope.currentWorkout.exerciseList"
                dnd-draggable="exercise"
                dnd-moved="ctrl.onDropExercise($index, exercise.type)"
                dnd-effect-allowed="move"
                ng-class="{superset: exercise.isSuperset}"
                )
                    dnd-nodrag.height-100(flex layout="row" layout-align="start center")
                        div.handle(dnd-handle flex="10" layout="column")
                            i.material-icons drag_handle
                        div(flex="70" layout="column")
                            span.first-letter--upper(ng-bind="exercise.name")
                        div.ui-icons(flex="20" layout="column")
                            span(layout="row")
                                md-button.ui-button.ui-button--icon(layout="column")
                                    i.material-icons(ng-click="ctrl.toggleExerciseSuperset(exercise.id)") link
                                md-button.ui-button.ui-button--icon(
                                layout="column"
                                ng-click="ctrl.toggleExerciseInCurrentWorkout(exercise)")
                                    i.material-icons delete
            md-button.md-raised.md-primary.ui-button--default(
            ng-bind="'new-workout.save'|translate"
            ng-if="ctrl.$rootScope.currentWorkout.exerciseList.length > 0"
            ng-click="ctrl.saveWorkout()"
            aria-label=""
            )